@import '../variables.scss';

.deck {
  width: calc(2 * #{$card-width} + #{$card-margin});
  margin: $card-margin auto;
  position: relative
}

.buttons {
  position: relative;
  top: calc(#{$card-width} + #{$card-margin});
  display: flex;
  justify-content: space-between;
}

.buttonDisabled {
  opacity: 0.5;
}

.button {
  background: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
  outline: none;
  color: $green;

  &:hover {
    background: #eee;
  }
}