@import '../variables.scss';

.card {
  width: $card-width;
  height: $card-heigth;
  border-radius: $border-radius;
  border: 10px solid $white;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.cardBack {
  background:
        repeating-linear-gradient(
            -45deg,
            transparent 0,
            transparent 25%,
            $red 0,
            $red 50%
       ),
       repeating-linear-gradient(
            45deg,
            transparent 0,
            transparent 25%,
            $red 0,
            $red 50%
        ),
        $red;
    background-blend-mode: multiply;
    background-size: 31px 31px;
}

.cardFace {
  background: $white;
  left: calc(#{$card-width + #{$card-margin}});
}

.topValue {
  text-align: right;
}

.bottomValue {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
}

.suit {
  text-align: center;
  font-size: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.suitRed {
  color: $red;
}
